<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
        {{> header}}
        <p>Tetst aassdf sdad asd fas as asd asd fasdf asd asda sdasd as aa sdf as assd as asdas</p>

        {{> footer }}
    </body>
</html>